body{
    padding-top:100px;
}

.chat-modif{
    font-size: 11px;
}
nav {
    background-image: linear-gradient(
        135deg,
        hsl(168deg 66% 23%) 1%,
        hsl(166deg 65% 24%) 30%,
        hsl(163deg 63% 25%) 42%,
        hsl(159deg 59% 26%) 51%,
        hsl(155deg 55% 28%) 58%,
        hsl(150deg 50% 30%) 63%,
        hsl(144deg 46% 32%) 68%,
        hsl(138deg 41% 34%) 73%,
        hsl(130deg 37% 35%) 77%,
        hsl(120deg 33% 37%) 80%,
        hsl(112deg 34% 39%) 83%,
        hsl(107deg 34% 41%) 86%,
        hsl(102deg 34% 43%) 88%,
        hsl(97deg 34% 46%) 90%,
        hsl(93deg 34% 48%) 93%,
        hsl(89deg 35% 51%) 94%,
        hsl(86deg 39% 53%) 96%,
        hsl(82deg 43% 56%) 97%,
        hsl(79deg 47% 58%) 99%,
        hsl(75deg 52% 61%) 100%
      );
}
.btn:hover{color:rgba(255, 235, 92, 1);}

a{text-decoration: none; color:white;}
a:hover{color:rgba(255, 235, 92, 1);}


/* Color Theme Swatches in RGBA */
.text-1 { color: rgba(19, 96, 82, 1); }
.text-2 { color: rgba(67, 127, 62, 1); }
.text-3 { color: rgba(179, 206, 101, 1); }
.text-4 { color: rgba(255, 235, 92, 1); }
.text-5 { color: rgba(255, 90, 50, 1); }

.bg-1 { background-color: rgba(19, 96, 82, 1); }
.bg-2 { background-color: rgba(67, 127, 62, 1); }
.bg-3 { background-color: rgba(179, 206, 101, 1); }
.bg-4 { background-color: rgba(255, 235, 92, 1); }
.bg-5 { background-color: rgba(255, 90, 50, 1); }
.gradient {
    background-image: linear-gradient(
  135deg,
  hsl(168deg 66% 23%) 1%,
  hsl(166deg 65% 24%) 30%,
  hsl(163deg 63% 25%) 42%,
  hsl(159deg 59% 26%) 51%,
  hsl(155deg 55% 28%) 58%,
  hsl(150deg 50% 30%) 63%,
  hsl(144deg 46% 32%) 68%,
  hsl(138deg 41% 34%) 73%,
  hsl(130deg 37% 35%) 77%,
  hsl(120deg 33% 37%) 80%,
  hsl(112deg 34% 39%) 83%,
  hsl(107deg 34% 41%) 86%,
  hsl(102deg 34% 43%) 88%,
  hsl(97deg 34% 46%) 90%,
  hsl(93deg 34% 48%) 93%,
  hsl(89deg 35% 51%) 94%,
  hsl(86deg 39% 53%) 96%,
  hsl(82deg 43% 56%) 97%,
  hsl(79deg 47% 58%) 99%,
  hsl(75deg 52% 61%) 100%
);
}

@media (min-width:768px){
}


/* Color Theme Swatches in Hex */
/* .Tropical-Fruit-Punch-1-hex { color: #146152; }
.Tropical-Fruit-Punch-2-hex { color: #44803F; }
.Tropical-Fruit-Punch-3-hex { color: #B4CF66; }
.Tropical-Fruit-Punch-4-hex { color: #FFEC5C; }
.Tropical-Fruit-Punch-5-hex { color: #FF5A33; } */

/* Color Theme Swatches in RGBA */
/* .Tropical-Fruit-Punch-1-rgba { color: rgba(19, 96, 82, 1); }
.Tropical-Fruit-Punch-2-rgba { color: rgba(67, 127, 62, 1); }
.Tropical-Fruit-Punch-3-rgba { color: rgba(179, 206, 101, 1); }
.Tropical-Fruit-Punch-4-rgba { color: rgba(255, 235, 92, 1); }
.Tropical-Fruit-Punch-5-rgba { color: rgba(255, 90, 50, 1); } */

/* Color Theme Swatches in HSLA */
/* .Tropical-Fruit-Punch-1-hsla { color: hsla(168, 66, 22, 1); }
.Tropical-Fruit-Punch-2-hsla { color: hsla(115, 34, 37, 1); }
.Tropical-Fruit-Punch-3-hsla { color: hsla(75, 51, 60, 1); }
.Tropical-Fruit-Punch-4-hsla { color: hsla(52, 100, 68, 1); }
.Tropical-Fruit-Punch-5-hsla { color: hsla(11, 100, 59, 1); } */
